@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mulish", sans-serif;
  font-size: 24px;
  font-style: normal;
  background: #f5f9ff;
}

.card-container {
  position: relative;
  width: 610.8px;
  height: 710.99px;
  .pricing-card {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 516px;
    height: 640px;
    border-radius: 16px;
    z-index: 1;
    .card-header {
      position: relative;
      display: flex;
      align-items: center;
      height: 172px;
      background: #133e61;
      border-top-right-radius: 16px;
      border-top-left-radius: 16px;
      &-img {
        position: absolute;
        width: 99px;
        height: 96px;
        left: 38px;
        top: 38px;
      }
      &-title {
        position: absolute;
        width: 124px;
        height: 30px;
        left: 335px;
        top: 94px;
        font-weight: bold;
        line-height: 30px;
        color: #ffffff;
      }
    }
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 60px;
      background-color: #ffffff;
      border-bottom-right-radius: 16px;
      border-bottom-left-radius: 16px;
      &-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: #001e36;
        margin-bottom: 24px;
      }
      &-paragraf {
        font-weight: normal;
        line-height: 30px;
        color: #001e36;
        opacity: 0.8;
        margin-bottom: 24px;
      }
      &-link {
        font-weight: 600;
        line-height: 30px;
        text-decoration-line: underline;
        margin-bottom: 48px;
        span {
          color: #1142c1;
          opacity: 0.8;
        }

        &:hover,
        &:focus:active {
          text-decoration: none;
        }
      }
      &-btn-buy {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 396px;
        height: 62px;
        padding: 16px;
        background: #133e61;
        border-radius: 66px;
        font-weight: 600;
        line-height: 30px;
        color: #ffffff;
      }
    }
  }
  .wallpaper {
    width: 519px;
    height: 639px;
    background: #e9f1fd;
    border-radius: 16px;
    transform: rotate(8.82deg);
  }
}

@media (max-width: 768px) {
  .card-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .pricing-card,
    .wallpaper {
      width: 90%;
    }
    .pricing-card {
      .card-header {
        justify-content: space-between;
        padding: 20px;
        align-items: baseline;
        &-img,
        &-title {
          position: relative;
          top: 0;
          left: 0;
        }
      }
      .card-content {
        &-btn-buy {
          width: 100%;
        }
      }
    }
  }
}

@media (max-width: 560px) {
  .card-container {
    height: 90%;
    .pricing-card,
    .wallpaper {
      width: 90%;
      height: inherit;
    }
    .pricing-card {
      .card-content {
        height: 100%;
        padding: 20px;
      }
    }
  }
}
